data_out/* filter=lfs diff=lfs merge=lfs -text
data_raw/* filter=lfs diff=lfs merge=lfs -text
data_intermediate/* filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/LV.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/MT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/RS.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/UK.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/FI.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/FR.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/PL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/DE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/BE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/NO.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/EL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/IS.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/IT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/TR.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/EL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/HR.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/EL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/LI.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/LU.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/SI.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/SE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/EE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/NO.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/TR.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/NL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/RO.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/LT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/LU.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/MK.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/UK.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/AL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/BG.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/HR.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/IE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/FI.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/PT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/AL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/AT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/AT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/BE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/CH.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/ES.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/AT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/HR.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/EE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/IS.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/IT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/MT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/RO.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/CH.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/MK.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/DK.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/IE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/LU.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/LV.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/PT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/SK.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/CY.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/DE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/SE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/ES.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/ME.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/HU.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/LI.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/IS.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/PL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/SK.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/CH.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/CY.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/LI.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/LV.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/MT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/CZ.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/NL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/RO.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/SI.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/SK.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/DK.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/ME.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/MK.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/AL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/PL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/SE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/SI.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/EE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/LT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/HU.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/NO.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/FI.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/LT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/NL.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/FR.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/IE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/BG.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/BG.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/CZ.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/DK.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/ES.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/IT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/DE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/PT.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/CZ.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_lau/HU.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/BE.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/cdi_raster_coverage_nuts3/RS.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/CY.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/FR.geojson filter=lfs diff=lfs merge=lfs -text
data_intermediate/nuts3_crop_profile/RS.geojson filter=lfs diff=lfs merge=lfs -text
